.timeline-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: auto;
  flex-grow: 1;
}

.chrono-content {
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

/* .timeline-title {
  text-align: ;s
} */

.timeline-card-img-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
}

.timeline-card-img {
  width: auto;
  height: 20%;
}

.timetime-card-h2 {
  font-size: 1rem;
  color: var(--azure);
}

.timeline-card-detail {
  font-size: 0.85rem;
  font-family: sans-serif;
  font-style: italic;
}

.my-card-media {
    width: 100%;
    height: auto;
  }
  
.my-card-media img,
.my-card-media svg {
  width: 100%;  /* Fill the container's width */
  height: auto; /* Maintain aspect ratio */
  display: block;
  object-fit: contain;  /* Ensure the image covers the container */
}