.timeline-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.timeline-end-text {
  margin: 0;
}

.timeline-end-point {
  margin: 0;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: var(--azure);
}

.about-test {
  display: flex;
  flex-direction: row;
}

.vertical-timeline-custom {
  align-items: center;
}
