.timeline-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.about-test {
  display: flex;
  flex-direction: row;
}

.vertical-timeline-custom {
  align-items: center;
}
