/* Define CSS variables in your stylesheet */
:root {
  --primary-color: #3498db; /* Blue color */
  --secondary-color: #2ecc71; /* Green color */
  --azure: #007FFF; /**1E90FF*/ 
  --orange-creamsicle: #ff9427; /*#FF8000*/
  --lemon-chiffon: #F9E79F;
  --banner-blue: #3498db;
  --banner-green: #2ecc71;

  --max-app-width: 2160px;
}

body, html, #root, .App {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Layout Styling */
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: linear-gradient(to bottom, #FFFFFF 1%, #E6F7FF 100%);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(45deg, var(--banner-blue), var(--banner-green));
  min-width: 0;
  width: 100%;
  max-width: var(--max-app-width);
  padding: 0.7rem 0rem;
}

.main-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  text-align: center;
  flex-grow: 1;
  min-width: 0;
  width: 100%;
  max-width: var(--max-app-width);
}

.footer {
  background-color: #005080;
  color: white;
  text-align: center;
  padding: 0.625rem 0;
  min-width: 0;
  width: 100%;
  max-width: var(--max-app-width);
  /* position: fixed;
  bottom: 0;
  width: 100%; */
}

.navbar-username {
  display: flex;
  align-items: center;
  height: 100%;   
}

.username {
  color: black;
  font-size: 1.6rem;
  text-decoration: none;
}

.username:hover {
  color: #666; 
}

.icon {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 0.625rem;
  margin-left: 0.5rem;
}

.navbar-menu-items {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.navbar-menu-items a {
  margin: 0 1.25rem;
  text-decoration: none;
}

.navbar-menu-items a:hover {
  text-decoration: underline;
}

.navbar-right .download-cv {
  background-color: #f3f3f3;
  padding: 0.625rem;
  border-radius: 0.3rem;
  text-align: center;
  margin-right: 0.5rem;
}

.navbar-right .download-cv a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.navbar-right a {
  color: black;
  text-decoration: none;
  margin-left: 1rem;
  margin-right: 1rem;
}

.navbar-right a:hover {
  text-decoration: underline;
}

.nav-link {
  color: #ffffff;
  text-decoration: none;
  font-family: 'Helvetica', sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  margin: 0 1.25rem;
}

.nav-link.active {
  text-decoration: underline;
  background: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 300%; /* Expand the gradient background */
  animation: rainbow 10s linear infinite;
}

@keyframes rainbow {
  0% { background-position: 0% 50%; }
  100% { background-position: 100%, 50%; }
}